.verify-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verify-form-container{
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.verify-btn{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.verify-btn:hover{
    background-color: #0056b3;
}

/* Hide number input arrows (spinner) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Hide arrows in Firefox */
}


@media screen and (max-width: 480px) {
    .form-container{
        width: 95%;
    }
}